{% extends 'base.html' %}

{% block content %}
    {{ super() }}

    <div class="container mt-5 mb-5">
        <h1>

            <p align="center"><span style="font-size:22.0pt"
                                    lang="RU">Information about the authors of the project</span></p>

            <p style="text-align:justify;margin-top: 0em;margin-bottom: 0em;"><i><span style="font-size:16.0pt"
                                                                                       lang="RU">The work was carried out in the laboratory of Academician V.P. Ananikov </span></i><span
                    lang="RU"><a href="https://ananikovlab.ru"><span style="font-size:14.0pt;line-height:
150%;" lang="EN-US">http</span><span style="font-size:
14.0pt;line-height:150%;">://</span><span style="font-size:14.0pt;line-height:150%;"
                                          lang="EN-US">ananikovlab</span><span
                    style="font-size:14.0pt;line-height:150%;">.</span><span style="font-size:14.0pt;line-height:150%;"
                                                                             lang="EN-US">ru</span></a></span><span
                    style="font-size:14.0pt;line-height:150%;" lang="RU">.</span></p>
            <p style="text-align:justify;margin-top: 0em;margin-bottom: -0.5em;"><span style="font-size:14.0pt;"
                                                                                       lang="RU">References:</span></p>
            <p class="MsoNormal" style="text-align:justify;margin-top: 0em;margin-bottom: -0.5em;"><span
                    style="font-size:12.0pt;line-height:200%;" lang="RU">1) <b>Introducing tox-Profiles of Chemical Reactions</b></span>
            </p>
            <p class="MsoNormal" style="text-align:justify;margin-top: 0em;margin-bottom: -0.5em;"><span
                    style="font-size:12.0pt;line-height:200%;" lang="RU">Egorova KS, Galushko AS, Ananikov VP.,<i> Angew. Chem. Int. Ed.</i>, <b>2020</b>, 59(50): 22296-22305. <a
                    href="https://doi.org/10.1002/anie.202003082">[link]</a></span></p>
            <p class="MsoNormal" style="text-align:justify;margin-top: 0.5em;margin-bottom: -0.5em;"><span
                    style="font-size:12.0pt;line-height:200%;" lang="RU">2) <b>Building bio-Profiles for common catalytic reactions</b></span>
            </p>
            <p class="MsoNormal" style="text-align:justify;margin-top: 0em;margin-bottom: -0.5em;"><span
                    style="font-size:12.0pt;line-height:200%;" lang="RU">Egorova KS, Galushko AS, Dzhemileva LU, D'yakonov VA, Ananikov VP.,<i> Green Chem.</i>, <b>2021</b>, 59(50): 22296-22305. <a
                    href="https://doi.org/10.1039/d1gc00207d">[link]</a></span></p>
            <p class="MsoNormal" style="text-align:justify;margin-top: 0.5em;margin-bottom: -0.5em;"><span
                    style="font-size:12.0pt;line-height:200%;" lang="RU">3) <b>Comparative assessment of heterogeneous and homogeneous Suzuki-Miyaura catalytic reactions using bio-Profiles and bio-Factors</b></span>
            </p>
            <p class="MsoNormal" style="text-align:justify;margin-top: 0em;margin-bottom: -0.5em;"><span
                    style="font-size:12.0pt;line-height:200%;" lang="RU">Pentsak EO, Dzhemileva LU, D'yakonov VA, Shaydullin RR, Galushko AS, Egorova KS, Ananikov VP.,<i> J. Organomet. Chem.</i>, <b>2022</b>, 59(50): 22296-22305. <a
                    href="https://doi.org/10.1016/j.jorganchem.2022.122319">[link]</a></span></p>
            <p class="MsoNormal" style="text-align:justify;margin-top: 0.5em;margin-bottom: -0.5em;"><span
                    style="font-size:12.0pt;line-height:200%;" lang="RU">4) <b>Application of bio-Profiles of chemical reactions for analysis of solvent impact on overall toxicity of C-C-cross-coupling process</b></span>
            </p>
            <p class="MsoNormal" style="text-align:justify;margin-top: 0em;margin-bottom: -0.5em;"><span
                    style="font-size:12.0pt;line-height:200%;" lang="RU">Egorova KS, Galushko AS, Dzhemileva LU, D'yakonov VA, Ananikov VP.,<i> Doklady Chemistry.</i>, <b>2022</b>, 59(50): 22296-22305. <a
                    href="https://doi.org/10.1134/S0012500822600080">[link]</a></span></p>
            <p class="MsoNormal" style="text-align:justify;margin-top: 0.5em;margin-bottom: -0.5em;"><span
                    style="font-size:12.0pt;line-height:200%;" lang="RU">5) <b>Fast evaluation of the safety of chemical reactions using cytotoxicity potentials and bio-Strips</b></span>
            </p>
            <p class="MsoNormal" style="text-align:justify;margin-top: 0em;margin-bottom: -0.5em;"><span
                    style="font-size:12.0pt;line-height:200%;" lang="RU">Egorova KS, Posvyatenko AV, Galushko AS, Ananikov VP.,<i> Chemosphere.</i>, <b>2023</b>, 59(50): 22296-22305. <a
                    href="https://doi.org/10.1016/j.chemosphere.2022.137378">[link]</a></span></p>
        </h1>
    </div>
{% endblock %}
