{% extends 'base.html' %}

{% block content %}
    {{ super() }}
<div class="text-center">
<div class="alert alert-primary" id='check' style="display:block;margin-top: 1em;margin-bottom: 1em;">
            <p class="fw-bold fs-3">Congratulations, your file in our library</p>
            <div class="alert alert-primary">
            <div class="mb-3">
                <span class="fw-normal fs-6">Filename: </span>
                <span class="fw-light fs-6">{{ filename }}</span>
            </div>
                {% for graph in graphs %}
                    <img src="{{ url_for('static', filename=graph) }}" class="img-fluid" width="1000" height="1000">
                {% endfor %}
            </div>
<form method = "post">
                        <a href="{{ url_for('download', filename=filename) }}" class="btn btn-outline-dark btn-sm">Download</a>
            </form>
</div> </div>
{% endblock %}